/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* styles.css */
.custom-range::-webkit-slider-runnable-track {
  background: #10b981;
}

.custom-range::-webkit-slider-thumb {
  background: #10b981;
  border: 1px solid #10b981;
}

.custom-range::-moz-range-track {
  background: #10b981;
}

.custom-range::-moz-range-thumb {
  background: #10b981;
  border: 1px solid #10b981;
}

.custom-range::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.custom-range::-ms-fill-lower {
  background: #10b981;
}

.custom-range::-ms-fill-upper {
  background: #10b981;
}

.custom-range::-ms-thumb {
  background: #10b981; /* Green color for thumb */
  border: 1px solid #10b981;
}
.logo {
  max-width: 100%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: object-cover;
  align-text: center;
}
